# Dependencies
node_modules

# Hardhat
cache
artifacts
coverage
coverage.json
typechain
typechain-types

# Next.js
frontend/.next
frontend/out

# Environment
.env
.env.local
frontend/.env.local
frontend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Misc
*.log
